#homeContainer {
  height: 100%;
  width: 85%;
  background: rgba(245, 245, 220, 0.3);
  margin: auto;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -khtml-border-radius: 25px; }
