
#cabin1Container{
  height: 100%;
  width: 85%;
  //background: rgba(245, 245, 220, 0.3);
  margin: auto;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius:  25px;
  color: white;
  font-weight: bold;
}

.form-control{
  width: 13%;
}


input.ng-invalid.ng-touched{
  border: 2px solid #aa0000;
}

.message{
  color: #aa0000;
  font-size: 1.1em;
  font-weight: bold;
  display: block;
}