body {
  background: url("../images/italy-2021154_1920.jpg"); }

header {
  height: 13%;
  width: 100%;
  text-align: center; }

#title {
  color: white;
  font-size: 6em;
  font-weight: bold; }

#mainContent {
  width: 100%;
  height: 80%;
  margin-top: 15px; }

#homeContainer {
  width: 85%;
  height: 90%;
  margin: auto;
  margin-top: 3%; }

.datesTaken {
  height: 100%;
  width: 32%;
  margin: 4px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.4);
  position: relative;
  left: 12px;
  vertical-align: top;
  font-weight: bold;
  font-size: 2em;
  text-align: center; }

.buttonContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 2%; }

#cabin1Container {
  height: 100%;
  width: 85%;
  margin: auto;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  margin-top: 10px; }

.form-control {
  width: 13%; }

input.ng-invalid.ng-touched {
  border: 2px solid aqua; }

.message {
  color: aqua;
  font-size: 1.4em;
  font-weight: bold;
  display: block; }

html, body {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%; }
