@import "indexBG";
@import "header";
@import "mainContent";
@import "nav";
@import "home";
@import "cabin1";


html, body{

  outline: 0;

  padding: 0;

  margin: 0;

  border: 0;

  height: 100%;
  width: 100%;

}

