
<div id="cabin1Container"  ng-controller="addReservationOne">

    <div growl></div>

    <form name="bookingForm"  novalidate>

        <div>
            <input id="cabin2" ng-model="reservation.cabinNum" type="hidden">
        </div>

        <div class="form-group">
            <label class="lead">First Name</label>
            <input type="text" class="form-control" placeholder="First Name" name="firstName" ng-required="true" ng-model="reservation.firstName">
            <div class="message" ng-show="bookingForm.firstName.$touched && bookingForm.firstName.$invalid">First Name is Required</div>
        </div>

        <div class="form-group">
            <label class="lead">Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" name="lastName" ng-required="true" ng-model="reservation.lastName">
            <div class="message" ng-show="bookingForm.lastName.$touched && bookingForm.lastName.$invalid" class="message">Last Name is Required</div>
        </div>

        <div ng-controller="DatepickerCtrl">
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="reservation.dateIn"  is-open="popup1.opened" show-button-bar="false" placeholder="Enter Start Date" name="startDate" id="startDate" ng-required="true"/>
                        <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                    </p>
                    <div class="message" ng-show="bookingForm.startDate.$touched && bookingForm.startDate.$invalid" class="message">Start Date Required</div>
                </div>

                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="reservation.dateOut" is-open="popup2.opened"  show-button-bar="false" min-date="minDate" placeholder="Enter End Date" name="endDate" id="endDate" ng-required="true"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <div class="message" ng-show="bookingForm.endDate.$touched && bookingForm.endDate.$invalid" class="message">End Date Required</div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" ng-click="newReservation()" ng-disabled="bookingForm.$invalid">Submit Reservation</button>

    </form>

    <div>
        <button class="btn btn-primary" type="button" ng-click="openModal()">Check Average Temps</button>
    </div>

</div>
</div>