
<div id="homeContainer" class="animated slideInRight">
    <div id="navContainer">
        <nav>
            <ul id="cabinList">

                <li>
                    <a href="cabin1">
                        <img src="images/black-white-cabin.svg" id="cabin 1" class="cabin">
                    </a>

                    <h4>Cabin One</h4>
                </li>

                <li>
                    <a href="cabin2">
                        <img src="images/black-white-cabin.svg" id="cabin 2" class="cabin">
                    </a>

                    <h4>Cabin Two</h4>
                </li>

                <li>
                    <a href="cabin3">
                        <img src="images/black-white-cabin.svg" id="cabin 3" class="cabin">
                    </a>

                    <h4>Cabin Three</h4>
                </li>
            </ul>
        </nav>
    </div>
</div>


