
<div id="homeContainer" class="animated flipInX">

    <div id="cabin1Get" class="datesTaken" ng-controller="cabinOneResCtrl">
        <p>Cabin One Reservations</p>

        <div ng-repeat="reserve in res">
            {{reserve.firstName}}
            {{reserve.lastName}}
            {{reserve.dateIn | date}}
            {{reserve.dateOut | date}}
        </div>

        <div class="buttonContainer">
            <a href="cabin1"><button type="button" class="btn btn-primary">Reserve Now</button></a>
        </div>

    </div>

    <div id="cabin2Get" class="datesTaken" ng-controller="cabinTwoResCtrl">
        <p>Cabin Two Reservations</p>

        <div ng-repeat="reserve in res">

            {{reserve.firstName}}
            {{reserve.lastName}}
            {{reserve.dateIn | date}}
            {{reserve.dateOut | date}}

        </div>


        <div class="buttonContainer">
            <a href="cabin2"><button type="button" class="btn btn-primary">Reserve Now</button></a>
        </div>

    </div>

    <div id="cabin3Get" class="datesTaken" ng-controller="cabinThreeResCtrl">
        <p>Cabin Three Reservations</p>

        <div ng-repeat="reserve in res">

            {{reserve.firstName}}
            {{reserve.lastName}}
            {{reserve.dateIn | date}}
            {{reserve.dateOut | date}}

        </div>

        <div class="buttonContainer">
            <a href="cabin3"><button type="button" class="btn btn-primary">Reserve Now</button></a>
        </div>

    </div>

</div>



