
    <div class="modal-header">
        <h3 class="modal-title">Average Weather Temps</h3>

    </div>

    <div class="modal-body" ng-controller="weatherCtrl">
        <div ng-init="weather = (day | ascendingSort)" ng-repeat="weat in weather| filter: dateRange2">

            {{weat.averageTemp}}
            {{weat.skyCondition}}
            {{weat.chanceOfPrecip}}
            {{weat.day | relativedate}}
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>


